rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Auxiliar function to verify ownership
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    // --- USERS COLLECTION ---
    match /users/{userId} {
      allow read, write: if isOwner(userId);
    }

    // --- CLIENTS COLLECTION ---
    match /clients/{document=**} {
      allow read, delete: if isOwner(resource.data.userId);
      allow create: if isOwner(request.resource.data.userId);
      allow update: if isOwner(resource.data.userId);
    }

    // --- TREATMENTS COLLECTION ---
    match /treatments/{document=**} {
      allow read, delete: if isOwner(resource.data.userId);
      allow create: if isOwner(request.resource.data.userId);
      allow update: if isOwner(resource.data.userId);
    }

    // --- APPOINTMENTS COLLECTION ---
    match /appointments/{document=**} {
      allow read, delete: if isOwner(resource.data.userId);
      allow create: if isOwner(request.resource.data.userId);
      allow update: if isOwner(resource.data.userId);
    }

    // --- STATUSES COLLECTION ---
    match /statuses/{document=**} {
      allow read, delete: if isOwner(resource.data.userId);
      allow create: if isOwner(request.resource.data.userId);
      allow update: if isOwner(resource.data.userId);
    }

    // --- STAFF COLLECTION ---
    match /staff/{document=**} {
      allow read, delete: if isOwner(resource.data.userId);
      allow create: if isOwner(request.resource.data.userId);
      allow update: if isOwner(resource.data.userId);
    }
    
    // --- INVENTORY COLLECTION ---
    match /inventory/{document=**} {
      allow read, delete: if isOwner(resource.data.userId);
      allow create: if isOwner(request.resource.data.userId);
      allow update: if isOwner(resource.data.userId);
    }
    
    // --- INVENTORY_MOVEMENTS COLLECTION ---
    match /inventory_movements/{document=**} {
      allow read, delete: if isOwner(resource.data.userId);
      allow create: if isOwner(request.resource.data.userId);
      allow update: if isOwner(resource.data.userId);
    }
  }
}
